$POPULARITY_PROGRESS_WIDTH: 5.8rem

.track
  display: flex
  align-items: center

  margin-bottom: 0.2rem

  position: relative
  right: 0.3rem
  padding: 0 0.3rem
  width: calc(100% + 0.6rem)

  *
    user-select: none

  &:hover
    background-color: #eee

  &.active
    border: 1px solid black

  &:last-of-type
    margin-bottom: 1rem

  .action
    cursor: pointer

    position: relative
    right: 0.3em

    width: 4em
    margin-right: 0.6em
    padding-left: 0.4em

    background-color: lightgray

    &:hover
      background-color: black
      color: white

  &:not(.active):not(:hover) .action
    display: none

  .venue
    height: 1.2rem
    position: absolute
    right: calc(100% + 0.5rem)
    top: 0

  .date
    width: 3.6em
    margin-right: 1rem

    text-align: right
    color: gray

  &:hover .date
    display: none

  .title
    flex-grow: 2

    .untitled
      color: gray

    .location
      float: right
      font-style: italic
      margin-right: 0.3rem

    .podcast
      float: right

      padding: 0 0.4em
      margin-right: 0.3rem
      background-color: gray

      &.live
        background-color: black
        color: #eee

      &.title-date
        background-color: white
        border: 1px solid

  &.active
    .podcast.title-date
      border-top-width: 0
      border-bottom-width: 0

  .user-relation
    width: 1.5rem
    text-align: center

  .duration
    width: 5em
    text-align: right
    color: gray

  .popularity
    width: $POPULARITY_PROGRESS_WIDTH

    .bar
      background-color: gray
      height: 2px

  .progress
    width: $POPULARITY_PROGRESS_WIDTH
    text-align: right

  .artist
    margin-left: auto

    width: 15rem
    margin-right: 1rem

  .origin
    margin-left: 1rem

    position: relative
    bottom: 2px
